@font-face {
  font-family: 'YClover-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:linear-gradient(-30deg, rgb(14, 27, 70), black)

}


.container {
  max-width: var(--container);
  padding: 0 2rem;
  margin: var(--m-auto);
  /* background: black; */

}
h1{
  font-family: 'TAEBAEKmilkyway', serif;

  margin-bottom: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-style: bold;
}

.swiper{
  position: relative;
  width: 200px;
  height: 360px;
} 

.swiper-slide{
  border-radius: 2px;
}

.swiper-slide img{
  width: 100%;
  /* object-fit: cover; */
  ;
}


   /* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    transform: translate(-50%, -50%);
  }
