@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%;
  font-weight: normal;
  line-height: 1.7;
  word-break: keep-all;

  text-decoration: none;

  font-family: 'TAEBAEKmilkyway', Arial, 'serif';
  scroll-behavior: smooth;
  cursor: cell;
}
a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

body {
  background: linear-gradient(-30deg, rgb(14, 27, 70), black);
}

.container {
  text-align: center;
  padding: 2rem 0;
}

.container h1 {
  padding-bottom: 0.2rem;
  font-size: 20px;
  text-shadow: 0px 0.01rem 0px white;
  color: white;
}
.container h3 {
  padding-bottom: 2rem;
  font-size: 14px;
  color: rgb(84, 109, 231);
}
.container p {
  margin-top: 2rem;
  color: white;
}

.swiper {
  position: relative;
  width: 200px;
  height: 360px;
}
.swiper-slide {
  border-radius: 10px;
}
.swiper img {
  width: 100%;
}

.firstnbanner,
.coupang {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.footer {
  text-align: center;
  color: rgb(63, 75, 135);
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer a {
  color: rgb(63, 75, 135);
}

p.touched {
  color: lightblue;
}
a:hover {
  color: lightblue;
  cursor: pointer;
}
